/*CSS DOCUMENT*/
*{
    margin: 0;
    padding: 0;
}
img {
    width: 100%; 
    display: block;
    margin-bottom: 6%;
}

nav ul {
    padding 0;
}
nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 2%;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    text-transform: lowercase;
    letter-spacing: 0.1em;  
}
nav ul li a {
    color: #9D9D9D;
    text-decoration: none;
}
a:hover {
    color: #75ADA0;
}
body{
    background-color:#191919;

}
section{
    border-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
h1{
    color: #9D9D9D;
    text-align: center;
    font-size: 2.5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #75ADA0;
    font-weight: 700;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;  
    border-bottom: 2px solid #75ADA0;
    margin-bottom: 3%;

}

h3 {
    color: #75ADA0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase;
    font-size: 1.5em;
    letter-spacing: 0.02em;  
    padding-top: 1em;
}
.price{
    color: #C4B49B;
    font-size: 1em;
}  
h4{
    color: #f1f1f1;
    font-family: font-family: 'PT Serif', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
    line-height: 125%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h5{
    font-family: font-family: 'PT Serif', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

p {
    color: #fafafa;
    font-family: font-family: 'PT Serif', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 125%;
    margin-top: 2%;
    padding-bottom: 2%;
} 
p.description {
    color: #9D9D9D;
}

header {
    width:100%;
    padding: 0; 
    margin-top: 2%;
    height: 1%;
    text-align: right;
}


footer {
    background-color: #75ADA0;
    color: #fafafa;
    letter-spacing: 0.02em;  
    margin-top: 2%;
    width: 100%;
    padding: 1em;
}

li{
    list-style-type: none;
}



/*Please don’t change this CSS stylesheet for the content hierarchy assginment */