/*Text Colors: 
#FFDDBB - light orange text
#FAFAFA - white
#FF8800 - bright orange
#222222 - black
*/

/*CSS document*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;
padding: 0; border: 0; font-size: 100%; font: inherit; display: block;}
body{
    background-color: rgb(221,221,221);
}
div.container{ 
    max-width: 70em;
    background-color: rgb(250,250,250);
    margin: 0 auto;
}
main{
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 2rem;
    grid-column: 1/3;
    padding: 3rem;
}
figure{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40%;
    grid-column: 1/3;
}
img {
    width: 100%; /*Please leave this line.*/
}
h1 {
    background-color: #FF8800; 
    color: #FAFAFA; 
    padding: 3rem 2rem 1rem; /* You want three values. */
    font-family: Sutro, serif;  
    font-size: 2.6em;
    font-weight: 700;  
    font-style: bold;
}
h2 {
    background-color: #FF8800; 
    color: #FFDDBB; 
    font-family: Sutro, serif;  
    font-size: 1.8em;  
    padding: .01rem 2rem 1em;
    font-weight: 300;  
    font-style: normal;
}
figcaption {
    padding: 3rem 1rem 1rem; /* You want three values. */
    line-height: 140%; 
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic; 
}

h3{
    padding: 0rem; /* You want three values. */
    color: #FF8800;
    font-family: Sutro, serif; 
    font-size: 1.2em; 
    text-transform: uppercase;
    font-weight: 300;  
    letter-spacing: 0.1em;
    font-style: normal;
    border-top: solid;
    padding-top: 1rem;
}

ul {
    margin: 0.5rem 0 0.5rem;
    padding: 0rem;

}

ol {
    margin: 0.5rem 0 0.5rem;
    padding: 0rem;

}
li { 
    display:list-item;
    padding: 0rem;
    margin-bottom: 1em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}
footer{
    background-color: #FF8800; 
    color: #FFDDBB;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    padding: 1rem 0rem 1rem 2rem;
}
